## TRANSFORM LABELED ANNOTATIONS IN TESTING DATASET TO COCO DATASET FOR BYTETRACK TESTING

In [1]:
import cv2
import json
from json import JSONEncoder
import pandas as pd
import numpy as np
import pycocotools.mask as mask_util
import pycocotools.coco as COCO

from tqdm import tqdm

### Load json files

In [2]:
datapath = '..'

In [3]:
with open(f'{datapath}/annotations/cam1.json') as json_file:
    data1 = json.load(json_file)
with open(f'{datapath}/annotations/cam2.json') as json_file:
    data2 = json.load(json_file)
with open(f'{datapath}/annotations/cam3.json') as json_file:
    data3 = json.load(json_file)

In [4]:
data_df1 = pd.json_normalize(data1)
data_df2 = pd.json_normalize(data2)
data_df3 = pd.json_normalize(data3)

In [5]:
data_df1['licenses'][0][0]

{'name': '', 'id': 0, 'url': ''}

In [6]:
no_data_columns = ['info.contributor','info.date_created','info.description','info.url','info.version','info.year']
data_df1.drop(no_data_columns, axis=1, inplace=True)
data_df2.drop(no_data_columns, axis=1, inplace=True)
data_df3.drop(no_data_columns, axis=1, inplace=True)

In [8]:
for k in data_df1.keys():
    print(k, ' -\t', list(data_df1[k][0][0].keys()))

licenses  -	 ['name', 'id', 'url']
categories  -	 ['id', 'name', 'supercategory']
images  -	 ['id', 'width', 'height', 'file_name', 'license', 'flickr_url', 'coco_url', 'date_captured']
annotations  -	 ['id', 'image_id', 'category_id', 'segmentation', 'area', 'bbox', 'iscrowd', 'attributes']

In [9]:
data_df = pd.concat([data_df1, data_df2 ,data_df3])

In [12]:
data_df.head(10)

,licenses,categories,images,annotations
0,"[{'name': '', 'id': 0, 'url': ''}]","[{'id': 1, 'name': 'Person 1', 'supercategory'...","[{'id': 1, 'width': 352, 'height': 198, 'file_...","[{'id': 1, 'image_id': 1, 'category_id': 1, 's..."
0,"[{'name': '', 'id': 0, 'url': ''}]","[{'id': 1, 'name': 'Person 1', 'supercategory'...","[{'id': 1, 'width': 352, 'height': 198, 'file_...","[{'id': 1, 'image_id': 1, 'category_id': 4, 's..."
0,"[{'name': '', 'id': 0, 'url': ''}]","[{'id': 1, 'name': 'Person 1', 'supercategory'...","[{'id': 1, 'width': 352, 'height': 198, 'file_...","[{'id': 1, 'image_id': 406, 'category_id': 6, ..."

In [10]:
for k in data_df.keys():
    print(k, ' -\t', list(data_df[k][0][0].keys()))

licenses  -	 [0, 0, 0]
categories  -	 [0, 0, 0]
images  -	 [0, 0, 0]
annotations  -	 [0, 0, 0]

### BYTETRACK MOT data structute

In [ ]:
with open(f'../../mot/annotations/val_half.json') as json_file:
    data_mot = json.load(json_file)

In [ ]:
data_mot.keys()

In [ ]:
# videos is the missing key in the dictionary
for k in data_mot.keys():
    print(k, ' -\t', list(data_mot[k][0].keys()))

### Adding elements to labelled data

### Load labelled data

In [ ]:
dp_coco1 = COCO( datapath + 'Canary/Labels_20210515_a/cam1.json')
dp_coco2 = COCO( datapath + 'Canary/Labels_20210515_a/cam2.json')
dp_coco3 = COCO( datapath + 'Canary/Labels_20210515_a/cam3.json')

In [ ]:
# Get img id's for the minival dataset.
im_ids1 = dp_coco1.getImgIds()
im_ids2 = dp_coco2.getImgIds()
im_ids3 = dp_coco3.getImgIds()
# Select a random image id.
print("num ids ", len(im_ids1))
v = randint(0, len(im_ids1))
# v = 6195
print("rand ", v)
Selected_im1 = im_ids1[v]
print("selected ", Selected_im1)
im1 = dp_coco1.loadImgs(Selected_im1)[0]  
# Load Anns for the selected image.
ann_ids1 = dp_coco1.getAnnIds( imgIds=im1['id'] )
anns1 = dp_coco1.loadAnns(ann_ids1)
print("im ", im1, im1['id'])
print("anns ", anns1)
# Now read and b
im_name = os.path.join( label_folder + 'Canary/Images_20210515_a/Images',  im1['file_name'] )